body {
  place-content: normal;
  background: linear-gradient(180deg, rgb(250 210 96 / 85%) 0%, rgb(252 194 25 / 81%) 35%, rgb(189 144 12 / 74%) 100%);  font-family: 'Pokemon Solid', sans-serif;
}

.welcome-game-font{
  color: #07345a;
}

#cover-card{
  width: 40%;
}
#cover-img{
  width: 100%;
}
.pokemon-card-box{
  width: 30%;
}
.container {
  display: grid;
  gap: 0;
  grid-template-columns: 350px 1fr;
  width: 100vw;
  height: 100vh;
}

.top-layer {
  z-index: 300;
}

button {
  border: 2px solid #b7453c;
  border-radius: 3px;
}

.score-board {
  background: rgb(22, 105, 173);
  background: linear-gradient(180deg, rgba(22, 105, 173, 0.9360337885154062) 14%, rgba(0, 65, 119, 1) 74%, rgba(8, 57, 98, 1) 100%);
  color: #f0bd10;
}

.play-btn {
  margin: auto;
  width: 180px;
  height: 80px;
  background: linear-gradient(260deg, rgba(227, 59, 69, 1) 0%, rgb(199 48 56 / 84%) 99%, rgb(234 27 38 / 93%) 99%);
  color: white
}

.play-again-btn {
  margin: auto;
  width: 280px;
  height: 80px;
  background: rgb(227, 59, 69);
  background: linear-gradient(260deg, rgba(227, 59, 69, 1) 0%, rgb(199 48 56 / 84%) 99%, rgb(234 27 38 / 93%) 99%);
  font-size: 2rem;
  color: black
}

.pokemon-table-board {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(5, 0.3fr);

  padding-block: 2rem;
  margin-inline: auto;
}

/* .card-inner {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  transition: transform 0.6s;
  transform-style: preserve-3d;
} */

.card-inner-rotation {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  font-size: var(--fs-400);
  border-radius: 0.5rem;
  box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  z-index: 200;
}

.card-back {
  transform: rotateY(180deg);
  z-index: 100;
  background: rgb(22, 105, 173);
  background: linear-gradient(359deg, rgba(22, 105, 173, 0.8) 14%, rgb(24 88 142) 74%, rgb(28 72 108) 100%);
  position:absolute
}

.pokemon-name {
  text-align: center;
}

.pokemon-img {

  width: 100%;
}

@keyframes append-animate {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.end-game-container {
  display: grid;
  grid-template-columns: 1 1fr;
}

.game-over {
  font-size: 7rem;
  transform-origin: 50% 50%;
  animation: append-animate .3s linear;
}